* {
    box-sizing: border-box;
    font-family: "Mukta", sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    margin: 40px 0;
    text-align: center;
}

p {
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-bottom: 0;
}

body {
    background-attachment: fixed;
    background-image: url(/img/subpattern/dot-grid.webp);
    position: relative;
    min-height: 100%;
    width: 100%;
}

main {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;
}

.navegador {
    padding: 0;
    position: sticky;
    top: -1px;
    background-color: #eb5e28;
    z-index: 100;
}

.lista-nav {
    margin: 0;
    list-style: none;
    justify-content: space-evenly;
    width: 60%;
    margin-right: auto;
    margin-bottom: 10px;
}

.lista-nav li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.lista-nav li:hover {
    background-color: #f67440;
}

.lista-nav li a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.8rem;
    line-height: 3rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fffcf4;
    font-weight: 400;
}

.lista-nav div {
    background-color: #fffcf4;
}



.destacados {
    width: 100%;
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 240px;
    background-color: rgba(145, 145, 145, 0.5019607843);
    box-shadow: 0 4px 8px 0 rgba(30, 30, 30, 0.2), 0 6px 20px 0 rgba(30, 30, 30, 0.2);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    z-index: 0;
}
.producto img {
    width: 200px;
    border-radius: 8px;
}
.producto .info-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.producto .info-producto figcaption {
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 700;
}
.producto .info-producto p {
    width: 200px;
    margin: 10px 0px;
}
.producto .info-producto button {
    font-size: 1.4rem;
    line-height: 2rem;
    border-radius: 5px;
    padding: 7.5px 15px;
    border: none;
    background-color: #1b3039;
    color: #fffcf4;
    cursor: pointer;
}
.producto .info-producto button:active {
    background-color: #2b4d5b;
    transform: scale(0.97);
}

.producto button:hover {
    background-color: #2b4d5b;
}


.pie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 20px 8%;
    margin-top: 40px;
    background-color: rgb(194, 194, 194);
    width: 100%;
    bottom: 0;
    left: 0;
}

.ticketCarrito{
    width: 300px;
    margin-top: 128px;
    position: sticky;
    top: 70px;
    right: 0px;
}

.cantidadCol{
    width: 20px;
}

.productoCol{
    width: 70%;
}

.subtotalCol{
    width: 100%;
}